@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Sigmar&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('bgevs.jpg');
}

code {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}
